---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-manager
spec:
  selector:
    app: {{ .Release.Name }}-manager
  ports:
    - port: 8000
      targetPort: http
      name: http
